<%= stylesheet_link_tag "blender_projekt" %>
<%= javascript_include_tag('js/three') %>
<%= javascript_include_tag('js/GLTFLoader') %>
<%= javascript_include_tag('js/DRACOLoader') %>
<%= javascript_include_tag('js/FontLoader') %>
<%= javascript_include_tag('js/TextGeometry') %>
<%= javascript_include_tag('js/draco/draco_wasm_wrapper') %>
<%= javascript_include_tag('js/OrbitControls') %>
<%= javascript_include_tag('js/three.interactive') %>
<%= javascript_include_tag('js/blender') %>
<%= javascript_include_tag('js/b_objects') %>
<%= javascript_include_tag('libs/popper.min') %>
<%= javascript_include_tag('libs/popper.min') %>
<%= javascript_include_tag('blender_projekt') %>

<div id="layer_blender">

</div>
<div id="layer_buttons" class="prevent-select">
    <label >Zalogowany:&nbsp</label>
    <label id="login">---</label>
    <button id="instruction" class="btn btn-primary" onclick="controlsInfo()">Instrukcja</button>
    <button id="camera" class="btn btn-primary" onclick="enableCamera()">Kamera</button>
    <form>
        <label for="color">Kolor:</label>
        <input v-model="color" id="color" type="color">
    </form>
    <button class="btn btn-primary" onclick="resetColor()">Reset koloru</button>

    <form>
        <label for="x_dim">X:</label>
        <input v-model="x_dim" type="number" id="x_dim"  min="0.1" max="0.5" step="0.05">
    </form>
    <form>
        <label for="y_dim">Y:</label>
        <input v-model="y_dim" type="number" id="y_dim"  min="0.1" max="0.5" step="0.05">
    </form>
    <form>
        <label for="z_dim">Z:</label>
        <input v-model="z_dim" type="number" id="z_dim"  min="0.1" max="0.5" step="0.05">
    </form>
    <!--<button id="save" class="btn btn-primary" onclick="Save()">Zapisz</button>
    <input id="inputfile" type="file" class="btn btn-outline-primary margin_class" accept="text/plain">
    <button id="load" class="btn btn-primary" onclick="Load()">Wczytaj</button>

    <button id="sve_to_db" class="btn btn-primary" onclick="saveToDB()">Zapisz do DB</button>


    <form method="POST" action="php/logout.php">
        <input type="submit" class="btn btn-primary" value="Wyloguj" name="logout">
    </form>-->

</div>

<div id="layer_select">
    <!--<button id="read_saved_data" class="btn btn-primary" onclick="readFromDB()">Załaduj zapisy</button>
    <select id="saved_data" class="form-select" size="9" aria-label=""></select>-->
</div>
<!--<button id="load_saved_data" class="btn btn-primary" onclick="loadFromDB()">Wczytaj zapis</button>-->

        