<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <% if user_signed_in? %>
            <%= link_to 'Edytuj Profil' edit_user_registration_path, class: "nav-link text-light" %>
            <%= link_to 'Wyloguj' destroy_user_registration_path, method: :delete, class: "nav-link text-light" %>
            <%= link_to 'Strona Blender' strona_blender_path, class: "nav-link text-light" %>
        <% else%>
            <%= link_to 'Zaloguj' new_user_session_path, class: "nav-link text-light" %>
            <%= link_to 'Zarejestruj' new_user_registration_path, class: "nav-link text-light" %>
        <% end %>

    </div>
</nav>